.first
{
    height: 850px;
    width: 100%;
    position: relative;
    

    .slph
    {
        height: 850px;
    }
    .navbar
    {
        
        padding: 15px 100px;
        // background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        z-index: 3;
       
        
        .nav-link
        {
            font-size: 18px;
            font-weight: 600;
            margin-right: 15px;
            color: white;
            transition: color 0.3s;
        }

        .nav-link:hover,.nav-link:focus{
            color: #dfac71;
        }

        .dropdown-item
        {
            padding: 11px 20px;
            color: white;
            transition: color 0.3s;
            // border-bottom: 0.5px solid white;
        }

        .dropdown-item:hover
        {
            color: #dfac71;
            background-color: transparent;
        }

        .dropdown-menu
        {
            background-color: #2d3436;
        }      

        .carousel-inner
        {
            position: relative;
        }
    }
    .opc
    {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .slider-text
    {
        height: 200px;
        position: absolute;
        top: 40%;
        left: 12%;
        font-family: sans-serif;

        p
        {
            color: white;
            z-index: 4;
        }
        p:nth-child(1)
        {
            font-weight: 600;
            font-size: 50px;
            margin-bottom: 20px;
        }

        p:nth-child(2)
        {
            font-weight: 400;
            font-size: 45px;
            margin-bottom: 30px;
        }
        
        .moredet
        {
            color: white;
            height: 45px;
            width: 160px;
            font-weight: bold;
            background-color: transparent;
            border: 2px solid #dfac71;
            border-radius: 3px;
            transition: all 0.6s ease;
        }

        .moredet:hover
        {
            background-color: #e7a860;
        }
    }


}

