.seventh
{
    height: 300px;
    width: 100%;
    background: linear-gradient(to left, #c8b16f, #c7ab5a);


    .seventhdiv
    {
        transform: translate(23px,80px);
        height: 200px;
        width: 350px;
        font-family: sans-serif;
        color: white;
        position: relative;
    
        .fa
        {
            position: absolute;
            left: -32px;
            top: 20px;
            font-size: 25px;
        }
        p
        {
            font-size: 18px;
            font-weight: 400;
            padding: 20px 0;
        }
    }
}