body
{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonlar
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn
{
    height: 50px;
    width: 120px;
    margin-right: 20px;
}