footer
{
    background-color: #1e272e;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    .fotericon
    {
        padding: 50px;
    }

    .fa
    {
        font-size: 22px;
        padding-right: 10px;
    }

    p
    {
        font-style: italic;
    }
}