    .contactus
    {
    height: auto;
    width: 100%;
    background-image: url("../img/contactus.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;

        .divleft
        {
        width: 70%;
        color: white;
        padding-top: 20%;


        h1
        {
            font-family: 'Courier New', Courier, monospace;
            font-size: 60px;
        }

        h6
        {
            color: #cf705c;
            font-size: 22px;
            padding: 25px 0 60px;
            font-family: cursive;
        }

        p
        {
            padding-bottom: 30px;

        }

        .contacts
        {
            i
            {
                font-size: 50px;
                color: #da9f69;
            }
        }

        }

        .divright
        {
        padding-top: 30%;
        color: white;

        .contact-form
        {
            width: 100%;
            height: auto;

            .input_label
            {
                input
                {
                    width: 250px;
                    height: 50px;
                    margin-bottom: 50px;
                    outline: none;
                    border: none;
                    padding-left: 10px;
                    opacity: .8;
                    transition: 0.4s;
                
                    &:focus
                    {
                        opacity: 1;
                    }
                }

                label
                {
                    font-weight: 600;
                }                
            }

            textarea
            {
                padding: 10px;
                width: 87%;
                height: 200px;
                outline: none;
                border: none;
                opacity: .8;
                transition: 0.4s;
                margin-left: 10px;
            
                &:focus
                {
                    opacity: 1;
                }
            }

            .sendbutton
            {
                width: 200px;                
                padding: 15px 25px;
                border: none;
                background-color: #da9f69;
                color: white;
                font-weight: 600;
                margin: 10px;
                
                &:hover
                {
                    -webkit-animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                }
            }
        }

        }
    }


@media only screen and (max-width: 1170px) {
    .contactus
    {
        background-color: black;
        height: auto;

        .divleft
        {
            width: 100%;
        }

        .divright
        {
            padding-top: 35%;

            textarea
            {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .contactus
    {
        background-color: black;
        height: 1600px;

        .divleft
        {
            width: 100%;
        }

        .divright
        {
            padding-top: 15%;

            input
            {
                width: 300px;
            }

            textarea
            {
                width: 95%;
            }
        }
    }
}

@media only screen and (max-width: 765px) {
    .contactus
    {
        background-color: black;
        height: 1600px;

        .divleft
        {
            width: 100%;
        }

        .divright
        {
            padding-top: 15%;

            input
            {
                width: 250px;
            }

            textarea
            {
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 580px) {
    .contactus
    {
        background-color: black;
        height: 1900px;

        .divleft
        {
            width: 100%;
            padding-left: 10%;
        }

        .divright
        {
            padding-top: 15%;
            padding-left: 10%;

            input
            {
                width: 400px;
            }

            textarea
            {
                width: 400px;
            }
        }
    }
}