.App2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;

}

.titleabout
{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 100%) , url(../img/receiptng.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;

        h5
        {
            color: #dc4425;
            font-family: 'Amatic SC', cursive;
            letter-spacing: 2px;
            font-size: 27px;
            font-weight: 700;
            text-transform: uppercase;
            animation: titleh5 1.5s 1;

        }

        .titlepages
            {
                display: flex;
                justify-content: center;
                align-items: center;

                span
                {
                    width: 20px;
                    height: 1px;
                    border: 1px solid #dc4425;
                    animation: titlespan 1.5s 1;

                }

                h1
                {
                    padding: 10px;
                    font-size: 40px;
                    color: white;
                    font-family: $sec-font;
                    animation: titleh1 1.5s 1;
                }
            }
}

.users
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;

}

.useranimation
{
    opacity: 1 !important;
}

.user {
    width: 45%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #555;
    border: 1px solid #d4d4d4bd;
    border-radius: 5px;
    box-shadow: 5px 7px 10px #cfcfcf;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: .7s ease-in;
    text-decoration: none;
    opacity: 0;

    img
    {
        margin-left: 10px;
        height: 190px;
        width: 100%;
        border-bottom: 1px solid #acacac6b;
        object-fit: cover;
        border-radius: 50%;
    }

    span
    {
        color: rgba(85, 85, 85, 0.7);
    }

    p
    {
        padding: 0 15px;
    }

    &:hover
    {
        transform: scale(1.05,1.05);
        color: #555;
    }
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;

    a{
        padding: 8px 10px;
        margin: 8px;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #30336b;
        color: #30336b;
        cursor: pointer;
    
        &:hover {
            color: white !important;
            background-color: #30336b;
        }
    }

    
}

.paginationActive a {
    color: white !important;
    background-color: #30336b;
}

.paginationDisabled a {
    color: grey;
    border: 1px solid gray;
    

    &:hover{
        color: grey !important;
        border: 1px solid gray;
        background-color: transparent;
    }
}



@media only screen and (max-width: 1170px) {
    .user
    {
        width: 45%;
        height: 270px;
    }
}

@media only screen and (max-width: 880px) {
    .user
    {
        width: 70%;
        height: 270px;
    }
}

@media only screen and (max-width: 766px) {
    .user
    {
        width: 70%;
        height: 350px;


        img
        {
            width: 50%;
        }
    }
}


@media only screen and (max-width: 550px) {
    .user
    {
        margin-left: 7%;
        width: 90%;
    }

    .titleabout
    {
        background-size: contain;
        height: 270px !important;
    }
}