@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
header {
  position: fixed;
  z-index: 10;
  margin-left: -8px;
  width: 250px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e8e4d9;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

header img {
  height: 120px;
  width: 130px;
}

header .nav-link ul {
  margin: 80px 0 80px -40px;
  text-align: center;
  font-size: 20px;
  color: #555;
}

header .nav-link ul li {
  width: 270px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  text-decoration: none;
  list-style: none;
  margin: 20px 0;
}

header .nav-link ul .navlink {
  color: #555;
  text-decoration: none;
  border-radius: 45%;
  padding: 4px 7px;
  border-bottom: 0px solid #30336b;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

header .nav-link ul .navlink:hover {
  color: #dc4425;
  border-bottom: 2px solid #30336b;
}

header .nav-link ul .navlink .fas {
  padding-left: 80%;
  font-size: 16px;
  display: none;
}

header .nav-link ul .active {
  color: #dc4425;
}

header .burgerdiv {
  position: absolute;
  top: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .burgerdiv i {
  position: fixed;
  font-size: 25px;
  top: 10px;
  left: 215px;
}

header .burgerdiv:hover {
  color: #474b96;
}

header .arrowdiv {
  position: absolute;
  top: 10px;
  display: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .arrowdiv i {
  position: fixed;
  font-size: 25px;
  top: 10px;
  left: 215px;
}

header .arrowdiv:hover {
  color: #dc4425;
}

footer {
  width: 100%;
  height: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dancing Script', cursive;
  background: url(../img/footerbg.png);
}

footer .socialicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

footer .socialicons .icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px;
  padding-top: 2px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #e8e4d9;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

footer .socialicons .icon:hover {
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

footer .socialicons .icon:hover .fab {
  -webkit-animation: rotate-scale-down-diag-2 0.7s linear both;
  animation: rotate-scale-down-diag-2 0.7s linear both;
}

@media only screen and (max-width: 1350px) {
  header {
    -webkit-transform: translateX(-200px) !important;
            transform: translateX(-200px) !important;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    text-align: center;
    padding-left: 20%;
    overflow: hidden;
  }
  footer .socialicons {
    margin-left: 20%;
  }
  footer .socialicons .icon {
    width: 50px !important;
  }
}

@media only screen and (max-width: 991px) {
  footer .socialicons {
    width: 250px;
  }
  footer .socialicons .icon {
    width: 30px !important;
  }
}

.contactus {
  height: auto;
  width: 100%;
  background-image: url("../img/contactus.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
}

.contactus .divleft {
  width: 70%;
  color: white;
  padding-top: 20%;
}

.contactus .divleft h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
}

.contactus .divleft h6 {
  color: #cf705c;
  font-size: 22px;
  padding: 25px 0 60px;
  font-family: cursive;
}

.contactus .divleft p {
  padding-bottom: 30px;
}

.contactus .divleft .contacts i {
  font-size: 50px;
  color: #da9f69;
}

.contactus .divright {
  padding-top: 30%;
  color: white;
}

.contactus .divright .contact-form {
  width: 100%;
  height: auto;
}

.contactus .divright .contact-form .input_label input {
  width: 250px;
  height: 50px;
  margin-bottom: 50px;
  outline: none;
  border: none;
  padding-left: 10px;
  opacity: .8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contactus .divright .contact-form .input_label input:focus {
  opacity: 1;
}

.contactus .divright .contact-form .input_label label {
  font-weight: 600;
}

.contactus .divright .contact-form textarea {
  padding: 10px;
  width: 87%;
  height: 200px;
  outline: none;
  border: none;
  opacity: .8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 10px;
}

.contactus .divright .contact-form textarea:focus {
  opacity: 1;
}

.contactus .divright .contact-form .sendbutton {
  width: 200px;
  padding: 15px 25px;
  border: none;
  background-color: #da9f69;
  color: white;
  font-weight: 600;
  margin: 10px;
}

.contactus .divright .contact-form .sendbutton:hover {
  -webkit-animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@media only screen and (max-width: 1170px) {
  .contactus {
    background-color: black;
    height: auto;
  }
  .contactus .divleft {
    width: 100%;
  }
  .contactus .divright {
    padding-top: 35%;
  }
  .contactus .divright textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .contactus {
    background-color: black;
    height: 1600px;
  }
  .contactus .divleft {
    width: 100%;
  }
  .contactus .divright {
    padding-top: 15%;
  }
  .contactus .divright input {
    width: 300px;
  }
  .contactus .divright textarea {
    width: 95%;
  }
}

@media only screen and (max-width: 765px) {
  .contactus {
    background-color: black;
    height: 1600px;
  }
  .contactus .divleft {
    width: 100%;
  }
  .contactus .divright {
    padding-top: 15%;
  }
  .contactus .divright input {
    width: 250px;
  }
  .contactus .divright textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .contactus {
    background-color: black;
    height: 1900px;
  }
  .contactus .divleft {
    width: 100%;
    padding-left: 10%;
  }
  .contactus .divright {
    padding-top: 15%;
    padding-left: 10%;
  }
  .contactus .divright input {
    width: 400px;
  }
  .contactus .divright textarea {
    width: 400px;
  }
}

.home {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  color: #555;
}

.home .titlehome {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/titlebackground.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url(../img/titlebackground.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.home .titlehome h5 {
  color: #ecbe92;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-animation: titleanimeh5 2.5s 1;
          animation: titleanimeh5 2.5s 1;
}

.home .titlehome .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: titleanimeh1 2.5s 1;
          animation: titleanimeh1 2.5s 1;
}

.home .titlehome .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #ecbe92;
  -webkit-animation: titlespan2 1.5s 1;
          animation: titlespan2 1.5s 1;
}

.home .titlehome .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

.home .titlehome img {
  width: 50px;
  height: 47px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: animeimg 2.5s infinite;
          animation: animeimg 2.5s infinite;
}

.home .aboutushome {
  width: 100%;
  height: auto;
  margin: 5rem 0;
}

.home .aboutushome .images {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .aboutushome .images .image1 {
  width: 450px;
  height: 300px;
  background: url(../img/AutumnPattern.jpg);
}

.home .aboutushome .images .image1 img {
  height: auto;
  width: 400px;
  margin: -45px -30px;
}

.home .aboutushome .textabout {
  padding-top: 10%;
  text-align: center;
  width: 90%;
}

.home .aboutushome .textabout h5 {
  color: #9c4e3e;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.home .aboutushome .textabout .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .aboutushome .textabout .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #9c4e3e;
}

.home .aboutushome .textabout .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: #555;
  font-family: "Noto Sans", sans-serif;
}

.home .aboutushome .textabout p {
  text-align: center;
  padding: 15px 0;
}

.home .aboutushome .textabout button {
  padding: 8px 35px;
  border: 1px solid #555;
  color: #555;
  background: transparent;
  font-size: 18px;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.home .aboutushome .textabout button:hover {
  color: white;
  background: #ecbe92;
  border: none;
}

.home .aboutushome .textabout button .fas {
  padding: 0 5px;
}

.home .specialofferhomeanimate {
  opacity: 1 !important;
}

.home .specialofferhome {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  padding-left: 10px;
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.home .specialofferhome .specialtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .specialofferhome .specialtext h5 {
  color: #9c4e3e;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.home .specialofferhome .specialtext .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .specialofferhome .specialtext .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #9c4e3e;
}

.home .specialofferhome .specialtext .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: #555;
  font-family: "Noto Sans", sans-serif;
}

.home .specialofferhome .specialimg {
  height: auto;
  width: 100%;
}

.home .specialofferhome .specialimg .alink {
  text-decoration: none;
}

.home .specialofferhome .specialimg .specialimg1 {
  height: 500px;
  width: 95%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .specialofferhome .specialimg .specialimg1 img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext {
  width: 90%;
  height: 90%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .7s;
  transition: .7s;
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  text-transform: uppercase;
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext h6 {
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 3px dotted #ecbe92;
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext p {
  text-align: center;
  display: none;
  -webkit-animation: panim1 .7s 1;
          animation: panim1 .7s 1;
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext:hover {
  border: 1px solid white;
}

.home .specialofferhome .specialimg .specialimg1 .speciealimgtext:hover p {
  display: block;
}

.home .receipthome {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 10px;
}

.home .receipthome .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.home .receipthome .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #9c4e3e;
}

.home .receipthome .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: #555;
  font-family: "Noto Sans", sans-serif;
}

.home .receipthome h5 {
  color: #9c4e3e;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.home .receipthome .cartsanimate {
  -webkit-animation: rotate-scale-down-ver 1.2s linear both;
  animation: rotate-scale-down-ver 1.2s linear both;
}

.home .receipthome .carts {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.home .receipthome .carts .cartitle {
  position: absolute;
  color: white;
  z-index: 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home .receipthome .carts img {
  width: 100%;
  height: 350px;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transition: .5s  ease-in-out;
  transition: .5s  ease-in-out;
}

.home .receipthome .carts img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-filter: brightness(96%);
          filter: brightness(96%);
}

@media only screen and (max-width: 990px) {
  .aboutushome .images {
    display: none !important;
  }
  .aboutushome .textabout {
    padding: 30px 0 !important;
  }
  .specialofferhome {
    padding-left: 5% !important;
  }
  .specialofferhome .specialimg .specialimg1 {
    margin-bottom: 10px;
  }
  .receipthome .carts {
    width: 80% !important;
    height: 320px !important;
    margin: 0 0 1.5rem 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .receipthome .carts {
    width: 90% !important;
    height: 320px !important;
    margin: 0 0 1.5rem 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .receipthome .carts {
    width: 75% !important;
    height: 320px !important;
    margin: 0 0 1.5rem 5.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .home .titlehome {
    height: 350px;
    background-size: contain;
  }
  .home .titlehome h1 {
    font-size: 45px;
  }
  .home .titlehome h5 {
    font-size: 18px;
  }
  .receipthome {
    padding-left: 5% !important;
  }
  .receipthome .carts {
    width: 90% !important;
    height: 320px !important;
    margin: 0 0 1.5rem 1.5rem;
  }
  .specialofferhome {
    padding-left: 10% !important;
  }
}

.about {
  width: 100%;
  height: auto;
  color: #555;
  overflow-x: hidden;
}

.about .titleabout {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)), to(rgba(250, 240, 240, 0.1))), url(../img/aboutbg.jpg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 100%, rgba(255, 255, 255, 0) 100%, rgba(250, 240, 240, 0.1) 100%), url(../img/aboutbg.jpg);
  background-position: center;
  background-attachment: fixed;
}

.about .titleabout h5 {
  color: #dc4425;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-animation: titleh5 1.5s 1;
          animation: titleh5 1.5s 1;
}

.about .titleabout .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .titleabout .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #9c4e3e;
  -webkit-animation: titlespan 1.5s 1;
          animation: titlespan 1.5s 1;
}

.about .titleabout .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: #555;
  font-family: "Noto Sans", sans-serif;
  -webkit-animation: titleh1 1.5s 1;
          animation: titleh1 1.5s 1;
}

.about .aboutushome {
  width: 100%;
  height: auto;
  padding-top: 20px;
  margin: 5rem 0;
  color: #555;
}

.about .aboutushome .imagesanimate {
  -webkit-animation: imageanime 1.5s 1;
          animation: imageanime 1.5s 1;
}

.about .aboutushome .textaboutanimate {
  -webkit-animation: textaboutanime 1.5s 1;
          animation: textaboutanime 1.5s 1;
}

.about .aboutushome .images {
  height: 500px;
  background: url(..//img/aboutuspng.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.about .aboutushome .textabout {
  padding-top: 10%;
  width: 90%;
}

.about .aboutushome .textabout h5 {
  color: #9c4e3e;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}

.about .aboutushome .textabout .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .aboutushome .textabout .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #9c4e3e;
}

.about .aboutushome .textabout .titlepages h1 {
  padding-right: 10px;
  font-size: 40px;
  color: #555;
  font-family: "Noto Sans", sans-serif;
}

.about .aboutushome .textabout p {
  padding: 15px 0;
  color: #555;
}

.about .aboutushome .textabout button {
  padding: 8px 30px;
  color: #555;
  border: 1px solid rgba(85, 85, 85, 0);
  border-bottom: 2px solid #9c4e3e;
  background: transparent;
  font-size: 16px;
  -webkit-transition: .4s ease-in,background .7s;
  transition: .4s ease-in,background .7s;
}

.about .aboutushome .textabout button:hover {
  color: white;
  background: #9c4e3e;
}

.about .sec3 {
  width: 100%;
  height: auto;
  background: url(../img/aboutus1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.about .sec3 .sec3boxanimate {
  -webkit-animation: sec3anime 1.5s 1;
          animation: sec3anime 1.5s 1;
}

.about .sec3 .sec3box {
  width: 85%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about .sec3 .sec3box h3 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.about .sec3 .sec3box p {
  color: #777;
}

.about .sec3 .sec3box img {
  width: 250px;
  height: 250px;
}

.about .galery {
  width: 100%;
  height: auto;
  color: #555;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .galery h5 {
  color: #ecbe92;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.about .galery .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
}

.about .galery .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #ecbe92;
}

.about .galery .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
}

.about .galery .galerybox {
  width: 100%;
  height: 250px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px #30336b5e;
          box-shadow: 5px 5px 10px #30336b5e;
  margin-bottom: 50px;
  background: #fff;
}

.about .galery .galerybox .title {
  -webkit-transition: 1s;
  transition: 1s;
}

.about .galery .galerybox .title h3 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.about .galery .galerybox .title img {
  width: 100%;
  height: 250px;
}

.about .galery .galerybox .title:hover {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.about .photos {
  position: relative;
  top: -23%;
  width: 100%;
  height: 150vh;
  background: rgba(0, 0, 0, 0.4);
  padding: 20% 30%;
  display: none;
}

.about .photos img {
  width: 400px;
  height: 350px;
}

.about .photos .xbutton {
  position: absolute;
  top: 18%;
  right: 34%;
}

.about .photos .xbutton i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.about .photos .xbutton i:hover {
  color: white;
}

@media only screen and (max-width: 990px) {
  .aboutushome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 5%;
  }
  .aboutushome .images {
    display: none !important;
  }
  .aboutushome .textabout {
    padding: 30px 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutushome .textabout .titlepages span {
    display: none;
  }
  .sec3 {
    height: auto !important;
  }
  .sec3 .sec3box {
    width: 100% !important;
  }
  .galery {
    padding-left: 3% !important;
  }
  .galery .title img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}

@media only screen and (max-width: 575px) {
  .titleabout {
    height: 350px !important;
    background-size: contain;
  }
  .aboutushome {
    margin-top: 10px !important;
    padding-left: 7%;
  }
  .galery .galerybox {
    margin-left: 17%;
    width: 65% !important;
  }
}

.App2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

.titleabout {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1))), url(../img/receiptng.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 100%), url(../img/receiptng.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}

.titleabout h5 {
  color: #dc4425;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: titleh5 1.5s 1;
          animation: titleh5 1.5s 1;
}

.titleabout .titlepages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleabout .titlepages span {
  width: 20px;
  height: 1px;
  border: 1px solid #dc4425;
  -webkit-animation: titlespan 1.5s 1;
          animation: titlespan 1.5s 1;
}

.titleabout .titlepages h1 {
  padding: 10px;
  font-size: 40px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  -webkit-animation: titleh1 1.5s 1;
          animation: titleh1 1.5s 1;
}

.users {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin-bottom: 30px;
}

.useranimation {
  opacity: 1 !important;
}

.user {
  width: 45%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #555;
  border: 1px solid #d4d4d4bd;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 10px #cfcfcf;
          box-shadow: 5px 7px 10px #cfcfcf;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .7s ease-in;
  transition: .7s ease-in;
  text-decoration: none;
  opacity: 0;
}

.user img {
  margin-left: 10px;
  height: 190px;
  width: 100%;
  border-bottom: 1px solid #acacac6b;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.user span {
  color: rgba(85, 85, 85, 0.7);
}

.user p {
  padding: 0 15px;
}

.user:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  color: #555;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginationBttns a {
  padding: 8px 10px;
  margin: 8px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #30336b;
  color: #30336b;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #30336b;
}

.paginationActive a {
  color: white !important;
  background-color: #30336b;
}

.paginationDisabled a {
  color: grey;
  border: 1px solid gray;
}

.paginationDisabled a:hover {
  color: grey !important;
  border: 1px solid gray;
  background-color: transparent;
}

@media only screen and (max-width: 1170px) {
  .user {
    width: 45%;
    height: 270px;
  }
}

@media only screen and (max-width: 880px) {
  .user {
    width: 70%;
    height: 270px;
  }
}

@media only screen and (max-width: 766px) {
  .user {
    width: 70%;
    height: 350px;
  }
  .user img {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .user {
    margin-left: 7%;
    width: 90%;
  }
  .titleabout {
    background-size: contain;
    height: 270px !important;
  }
}

.receipt {
  width: 100%;
  height: auto;
}

.receiptcontainer {
  width: 100%;
  height: auto;
  background: #fff !important;
}

.receiptcontainer .receiptleft {
  width: 100%;
  height: auto;
}

.receiptcontainer .receiptleft .titleh {
  font-family: "Pacifico", cursive;
  padding: 10px 0;
}

.receiptcontainer .receiptleft .title {
  padding: 20px 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.receiptcontainer .receiptleft .title img {
  padding: 20px 0;
  width: 100%;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
}

.receiptcontainer .receiptleft .author {
  width: 100%;
  height: auto;
  padding: 15px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptleft .author h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.receiptcontainer .receiptleft .author h5 {
  font-size: 18px;
  color: #c2bb89;
}

.receiptcontainer .receiptleft .author p {
  color: #d2ab74;
}

.receiptcontainer .receiptleft .author button {
  border: none;
  border: 1px solid #feeebe;
  background: #feeebe;
  border-radius: 20px;
  padding: 3px 7px;
  color: #000;
}

.receiptcontainer .receiptleft .author img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.receiptcontainer .receiptleft .ingredients {
  padding: 20px 0;
  width: 100%;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptleft .forcake {
  width: 100%;
  height: auto;
}

.receiptcontainer .receiptleft .forcake .cake {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptleft .comments {
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.receiptcontainer .receiptleft .comments textarea {
  width: 90%;
  height: 250px;
  outline: none;
  padding-left: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptleft .comments textarea:focus {
  border: 1px solid #dc4425;
  color: #dc4425;
}

.receiptcontainer .receiptleft .comments input {
  width: 44%;
  height: 45px;
  padding-left: 5px;
  margin: 10px 15px 10px 0;
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptleft .comments input:focus {
  border: 1px solid #dc4425;
  color: #dc4425;
}

.receiptcontainer .receiptleft .comments button {
  border: 2px solid #000;
  color: #000;
  outline: none;
  padding: 10px 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.receiptcontainer .receiptleft .comments button:hover {
  color: #dc4425;
  border: 2px solid #dc4425;
}

.receiptcontainer .receiptright {
  width: 100%;
  height: 251vh;
  background: #e8e4d9;
  padding: 20% 7px 0 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.receiptcontainer .receiptright h4 {
  font-family: "Pacifico", cursive;
}

.receiptcontainer .receiptright .posts {
  width: 100%;
  height: auto;
  margin-top: 15%;
}

.receiptcontainer .receiptright .popularpost {
  width: 100%;
  height: auto;
  padding: 15px 5px;
  margin-top: 25px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.receiptcontainer .receiptright .popularpost img {
  width: 100%;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.receiptcontainer .receiptright .popularpost p {
  font-size: 14px;
}

.receiptcontainer .receiptright .popularpost:hover {
  -webkit-box-shadow: 0 0 10px #c2bb89;
          box-shadow: 0 0 10px #c2bb89;
}

@media only screen and (max-width: 991px) {
  .receiptcontainer .receiptright {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .receiptcontainer .receiptleft .author {
    padding-left: 40%;
  }
  .receiptcontainer .receiptleft .ingredients {
    padding-left: 5%;
  }
  .receiptcontainer .receiptleft .times {
    padding-left: 10%;
  }
  .receiptcontainer .receiptleft .forcake {
    padding-left: 5%;
  }
  .receiptcontainer .receiptleft .comments {
    padding-left: 5%;
  }
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes animeimg {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes animeimg {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes panim1 {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes panim1 {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

@keyframes rotate-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

@-webkit-keyframes titleanimeh5 {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titleanimeh5 {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes titleanimeh1 {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titleanimeh1 {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rotate-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateY(180deg);
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
  }
}

@keyframes rotate-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateY(180deg);
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg);
  }
}

@-webkit-keyframes imageanime {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes imageanime {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes textaboutanime {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes textaboutanime {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes titleh5 {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes titleh5 {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes titleh1 {
  0% {
    -webkit-transform: translateY(220px);
            transform: translateY(220px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes titleh1 {
  0% {
    -webkit-transform: translateY(220px);
            transform: translateY(220px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes titlespan {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titlespan {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes titlespan2 {
  0% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes titlespan2 {
  0% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes sec3anime {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sec3anime {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  overflow-x: hidden !important;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pages {
  padding-left: 16%;
  -webkit-transition: 1s;
  transition: 1s;
  background: #e8e4d9;
}

@media only screen and (max-width: 1350px) {
  .pages {
    padding-left: 3% !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #30336b;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #dc4425;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */