.page2
{
    width: 100%;
    height: 700px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .h3title
    {
        margin-left: 31px;
    }

    .latestMovie {

        width: 100%;
        height: 270px;
        margin: 40px auto;
        overflow: hidden;
        position: relative;

        .cover-1
        { 
            height: 180px;
            width: 320px;
            position: absolute;
            text-align: left;

            .cover-11
            {
                display: inline-block;
                width: 200px;
                margin: 20px 0;
                height: 150px;
                font-size: 18px;
                margin-left: 13px;

            .fa
            {
                margin-right: 7px;
            }
            .div13pp
            {
                background-color: #dddbd96e;
                margin: 0 17px;
                height: 25px; 
            }
            button
            {
                width: 115px;
                height: 40px;
                background-color: #bf000a;
                color: white;
                border: none;
                font-size: 14px;
                text-transform: uppercase;
                transition: ease-out .3s;
                outline: none;
                position: relative;    
                z-index: 1;

                .fa
                {
                    margin-right: 10px;
                }

                &:hover
                {
                    color: white;
                    cursor: pointer;
                }

            }
            }

            .cover-12
            {
                display: none;
                float: right;
                width: 52px;
                height: 180px;
                margin-right: 20px;
                transition: all 0.7s;
                .xx{
                    border: 4px solid rgba(148, 148, 148, 1);
                    padding: 10px 1px;
                    border-radius: 50%;
                    font-size: 20px;
                    margin-top: 7px;
                    color: #bf000a;
                    background-color: white;
                    transition: color .6s,background-color .6s;

                    &:hover
                    {
                        color: white;
                        background-color: #bf000a;
                        border: 4px solid rgba(148, 148, 148, 1);
                    }
                }

                div
                {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                   
                }

              
            }

            
            &:hover
            {
                background-color: rgba(0, 0, 0, 0.7);
                border-left: 4px solid #bf000a;
            }


        }

        span {
            position: absolute;
            top: 35%;
            font-size: 60px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            left: .01%;
            z-index: 1;
        }
        span:nth-of-type(2) {
            left: 97.5%;
            text-align: right;
        }
        section {
            width: 98%;
            height: 220px;
            background-color: transparent;
            margin: 10px auto;
            display: flex;
            justify-content: left;
            overflow-x: auto;
            transition: all 0.7s;

            .div12 {
                min-width: 320px;
                height: 180px;
                position: relative;
                left: 0;
                text-align: center;
                margin: 10px 20px;
                color: white;
                transition: 0.5s;

                img
                {
                    height: 180px;
                    width: 320px;
                }

                &:hover{
                    transform: scale(1.09,1.09);
                }
            }
        }
        section::-webkit-scrollbar {
            visibility: hidden;
        }
    }

    .upcomingMovie
    {
        width: 100%;
        height: 270px;
        margin: 1px auto;
        overflow: hidden;
        position: relative;

        .cover-1
        {
            
            height: 180px;
            width: 320px; 
            position: absolute;
            text-align: left;

            .cover-11
            {
                display: inline-block;
                
                width: 200px;
                margin: 20px 0;
                height: 150px;
                font-size: 18px;
                margin-left: 13px;

            .fa
            {
                margin-right: 7px;
            }
            .div13pp
            {
                background-color: #dddbd96e;
                margin: 0 17px;
                height: 25px; 
            }
            button
            {
                width: 115px;
                height: 40px;
                background-color: #bf000a;
                color: white;
                border: none;
                font-size: 14px;
                text-transform: uppercase;
                transition: ease-out .3s;
                outline: none;
                position: relative;    
                z-index: 1;

                .fa
                {
                    margin-right: 10px;
                }

                &:hover
                {
                    color: white;
                    cursor: pointer;
                }

            }
            }

            .cover-12
            {
                display: none;
                float: right;
                width: 52px;
                height: 180px;
                margin-right: 20px;
                transition: all 0.7s;
                .xx{
                    border: 4px solid rgba(148, 148, 148, 1);
                    padding: 10px 1px;
                    border-radius: 50%;
                    font-size: 20px;
                    margin-top: 7px;
                    color: #bf000a;
                    background-color: white;
                    transition: color .6s,background-color .6s;

                    &:hover
                    {
                        color: white;
                        background-color: #bf000a;
                        border: 4px solid rgba(148, 148, 148, 1);
                    }
                }

                div
                {
                    display: flex;
                    flex-direction: column;
                    text-align: center;  
                } 
            }            
                &:hover
                {
                    background-color: rgba(0, 0, 0, 0.7);
                    border-left: 4px solid #bf000a;
                }


        }

        span {
            position: absolute;
            top: 40%;
            font-size: 60px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            left: .01%;
            z-index: 1;
        }
        span:nth-of-type(2) {
            left: 97.5%;
            text-align: right;
        }
        section {
            width: 98%;
            height: 220px;
            background-color: transparent;
            margin: 10px auto;
            display: flex;
            justify-content: left;
            overflow-x: auto;

            .div13{
                min-width: 320px;
                height: 180px;
                position: relative;
                left: 0;
                text-align: center;
                font-size: 100px;
                font-weight: bold;
                margin: 10px 20px;
                color: white;
                transition: 0.7s;

                img
                {
                    height: 180px;
                    width: 320px;
                }

                &:hover{
                    transform: scale(1.09,1.09);
                }
            }
        }
        section::-webkit-scrollbar {
            visibility: hidden;
        } 
    }



}