@keyframes animate{
    0%
    {
        transform: scale(.5);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }

}

@keyframes animate1{
   from{
    transform: translate(50px,20px);
   }
   to{
    transform: translate(-20px,20px);
   }

}