.lastpage
{
    height: 400px;
    width: 100%;
    color: white;

    .lstpg-1
    {
        padding-top: 120px;
        height: 400px;
        width: 330px;
        font-family: sans-serif;

        h1
        {
            padding: 20px 0 ;
            font-size: 30px;
            font-weight: 600;
        }
        
        p
        {
            padding: 20px 0;
            font-size: 18px
        }

        a
        {
            color: #dfac71;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover
        {
            color:rgb(122, 110, 110)
        }

        
        

    }


    .lstpg-2
    {
        padding-top: 130px;
        height: 400px;
        width: 165px;
        font-family: sans-serif;

        h1
        {
            padding: 20px 0;
            font-size: 20px;
        }

        a
        {
            border-bottom: 1px solid #dfac71;
            padding: 8px 0;
            text-decoration: none;
            transition: color 0.3s;;
            color: white;
            transition: color 0.3s;
        }
        a:hover
        {
            color:rgb(122, 110, 110)
        }

    }


    .lstpg-3
    {
        padding-top: 130px;
        height: 400px;
        width: 330px;
        font-family: sans-serif;
    
        h1
        {
            padding: 20px 0;
            font-size: 20px;
        }

        p
        {
            
            font-size: 18px;
        }

        .lsticons
        {
            position: relative;
            width: 250px;
            height: 70px;
           

            .fa
            {
                margin-top: 10px;
                margin-right: 5px;
                font-size: 18px;
                border-radius: 7px;
                border: 1px solid #dfac71;
                padding: 15px;
                transition: color 0.5s, background-color 0.5s;
            }

            .fa:hover
            {
                color: white;
                background-color: #dfac71;
            }
        }

    
    }

}