@media screen and (max-width:1000px)
{
   

    .fiveth{
        height: 430px;
    .fivethright 
    {

        .fivethleft
        {
            height: 600px;
        }
        div{
        transform: translate(10%,20%);
        }
    }
    }

    .sixth
    {

        .cardlar
        {
            height: 450px;
            width: 230px;
        
        }
    }

    .seventh
    {
        .s7 div
        {
          color: #c8b16f;
        }
    }

}

@media screen and (max-width:700px)
{

    .navbar
    {
        display: none;
    }

    body{height: 8410px;}

    .first
    {
        height: 450px;


        .slph
        {
            height: 450px;
        }
        .slider-text
        {
        height: 100px;
        position: absolute;
        top: 27%;
        left: 30%;
       

        
        p:nth-child(1)
        {
            
            font-size: 30px;
           
        }

        p:nth-child(2)
        {
           
            font-size: 25px;
           
        }
        
       
    }
    }

    .third
    {
       
        height: 1800px;
        width: 100%;

        .third-2 div:first-child
        {
            margin-top: 110px;
        }

        .third-2 div
        {
           width: 100%;
        }
        .third-1
        {
            
    
            .littlep
            {
                transform: translate(0px,-40px);
               
               
            }
        }
        .zz
        {
            padding-left: 50px;
        }
    }


    .fourth
    {
        height: 1020px;
        width: 100%;

    .basliq
    {
       
        height: 200px;
        width: 400px;
       
    }

    .fourthpp
    {
        
        padding-right: 230px; 
    }

    }


    .fiveth
    {
        
        height: 800px;
        width: 100%;

        .fivethleft
        {
            height: 400px;
            width: 500px;
            margin-left: 20%;
            
        }
    }

    .sixth
    {
        height: 2200px;

        .sixthcards
    {
        height: 555px;
        width: 100%;
        font-family: sans-serif;


        .cardlar
        {
            margin-left: 30px;
            height: 450px;
            width: 470px;
            margin-bottom: 30px;

        }
       
    }
    }


    .seventh
    {
        height: 300px;
        width: 100%;

        .sz
        {
            display: none;
        }
    }
    

    .lastpage
    {
        height: 1000px;
        .lstpg-1
        {
            height: 200px;
            margin-left: 20px;
        }

        .lstpg-2
        {
            height: 200px;
            margin-left: 20px;
        }

        .lstpg-3
        {
            margin-left: 20px;
            width: 400px;
            height: 200px;
        }


    }
}

