.five
{
    height: 550px;
    width: 100%;
    background-image: url(..//image/lastph.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    .fivetxt
    {
        height: 550px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a
        {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover
        {
            color: #555094;
        }
    }

    .fiveph
    {
        margin-top: 110px;
        height: 270px;
        width: 420px;
        background-image: url(..//image/lastpagephoto.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}