.four
{
    // margin-top: 100px;
    border: 1px solid #0f0c35;
    height: 600px;
    width: 100%;
    background-image: url(..//image/7363804265c4c8b8ca3f6e25a3e432c6.png);
    background-color: #0f0c35;
    
    .fourtxt
    {
        margin-top: 100px;
        width: 50%;
        height: 700px;
        color: white;
        text-align: center;

        hr
        {
            
            height: 9px;
            width: 100px;
            background-color: #f8cb8a;
        }

        h3
        {
            padding: 20px 0;
        }

        p
        {
            padding: 20px 0;
        }
    }
}