@media screen and (max-width: 750px) {
    .one
    {
        height: 550px;
        width: 100%;
        #planetnames{
        .planetnames
        {
            height: 550px;
            width: 485px;
            top: 0;
            .plantxt
            {
                height: 150px;
                width: 90%;
            }
        }
    }
    }

    .three
    {
        
        height: 2000px;
       
        .houston-1
        {
            margin-top: 0px;
            margin-left: 0px;
            width: 460px;
        }
        .houston-2
        {
            margin-top: 0px;
            margin-left: 0px;
            width: 460px;
        }
    }


    .four
    {
        height: 660px;
        .fourtxt
        {
            width: 100%;
        }
    }


    .five
    {
        height: 500px;
        width: 100%;

        .fivetxt
        {
            margin-top: 40px;
            justify-content: start;
        }

        .fiveph
        {
            margin-top: -310px;
            height: 200px;
            width: 300px;
        }
    }
  }