.one
{
    height: 750px;
    width: 100%;
    background-image: url(..//image/globe.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #0f0c35;
    display: flex;
    align-items: center;

    .title1
    {
        height: 350px;
        width: 430px;
        color: white;
        

        h1
        {
            font-size: 95px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h4
        {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 26px;
            padding: 10px 0;
        }

        p
        {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: italic;
            font-size: 16px;
            padding: 10px 0;
        }

       .inputs
       {
        //    border: 1px solid red;
           width: 430px;

           input
           {
                height: 35px;
                width: 310px;
                margin-right: 20px;
                border-radius: 7px;
                padding-left: 18px;
           }

           button
           {
                border-radius: 5px;
                background:transparent;
                color: white;
                border: 1px solid #ffbe76;
                height: 35px;
                width: 90px;
                font-weight: 600;
                transition: all 0.5s;
           }

           button:hover
           {
            color: black;
            background-color: #ffbe76;
           }

       }
    }



    #planetnames{
    display: none;
    
        .planetnames
        {
            animation: myMove 1.5s 1;
            background-color: #2980b9;
            right: 0;
            top: 150px;
            border-radius: 12px;
            position: absolute;
            height: 450px;
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1
            {
                font-size: 50px;
                text-align: right;
                float: right;
            }

            .planimg
            {
                background-image: url(..//image/ay.jpg);
                background-size: cover;
                height: 230px;
                width: 300px;
            }

            .plantxt
            {
                height: 150px;
                width: 550px;
            }
        }

        .xbutton
        {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 2px;
            right: 2px;
            border: none;
            border-radius: 50%;
            color: white;
            background-color: #dd4146;
        }

    }
}
