@media screen and (max-width: 600px) {
    .dis1
    {
        display: none;
    }

    .page1
    {
        height: 250px;
        margin-top: 20px;
        padding: 10px;

        .page1Div
        {

            h1
            {
                font-size: 30px;
            }

            h5
            {
                margin: 20px 0;
            }
            img
            {
                display: none;
            }
            .imghover
            {
                display: none;
            }
        }
    }

    .page2
    {
        height: 470px;
    }
    .page3
    {
        margin-top: 10px;
        .page3Div
        {
            padding: 0px;
            img
            {
                display: none;
            }

            h1
            {
                font-size: 30px;
            }
    
            h5
            {
                margin: 20px 0;
            }
        }
    }

    .page4
    {
        border: 1px solid red;
        margin-top: 10px;
        margin-left: 0;
        height: 2000px;
    }

    .page5
    {
        height: 300px;
    }

    footer
    {
        height: 400px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;

        .footbasliq
        {
            padding-left: 170px;
            height: 150px;
        }
    }
  }