.page4
{
    margin-top: 100px;
    width: 100%;
    height: 1150px;
    transition: 1.5s;
    opacity: 0;
    transform: translate(0px,500px);

    .basliq
    {
        margin-bottom: 50px;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        border-left: 4px solid #4a55685b;
        color: #4a55685b;
        
        button
        {
            background-color: #b7c3d1;
            color: #444f63;
            border: none;
            width: 90px;
            height: 25px;
            border-radius: 7px;
            font-size: 13px;
            font-weight: 600;
            transition: 0.5s;
            &:hover
            {
                background-color: #707988;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    
    .card
    {
        max-width: 550px; 
        max-height: 200px; 
        padding: 4px 0 4px 20px; 
        border-radius: 10px;
        transition: .5s;
        background-color: white;
        &:hover
        {
            box-shadow: 0 0 7px #4a556833;
            transform: translate(0,-5px);        
        }
    }

    .card-ph
    {
        border-radius: 10px;
        background-color: #2965f1;
        height: 180px;
        div
        {
            position: absolute;
            top: 30%;
            left: 35%;
            
            .fab
            { 
                font-size: 50px;
                color: white;
                margin-left: 10px;
            }
            p
            {
                color: white;
                font-weight: 600;
            }
        }

        img
        {
            opacity: 0.1;
            height: 100%;
            width: 100%;
        }
    }

    .cssButton
    {
        background-color: #2965f1;
        color: white;
        font-weight: 600;
        border: none;
        width: 80px;
        height: 30px;
        border-radius: 7px;
        font-size: 13px;
        transition: .5s;
        &:hover
        {
            background-color: #707988;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .card-title
    {
        color: #4a5568;
        margin: 20px 0;
    }
    .card-text
    {
        opacity: 0.7;
        display: inline;
    }

}
.page4add
{
    transform: translate(0px,0px);
    opacity: 1;
}