.page5
{
    height: 400px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    opacity: 0;
    transform: translate(0px,500px);

    h3
    {
        font-weight: 600;
        color: #262729;
    }

    p
    {
        opacity: 0.6;
        text-align: center;
        margin: 20px 0;
    }

    input
    {
        margin: 20px 0;
        background-color: #e2e8f0;
        width: 300px;
        height: 40px;
        border: none;
        outline: none;
        padding: 0 10px;
        border-radius: 7px;
    }

    button
    {
        width: 165px;
        height: 48px;
        border: none;
        border-radius: 22px;
        font-size: 18px;
        background-color: #667eea;
        color: white;
        transition: .5s;
        &:hover
        {
            color: rgba(255, 255, 255, 0.8);
           background-color: #718096;
        }
    }
}

.page5add
{
    transform: translate(0px,0px);
    opacity: 1;
}