body {
  height: 3500px;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  cursor: pointer;
  width: 150px;
  height: 35px;
}

header .input-group-text {
  background-color: #e2e2e2;
}

header .form-control {
  outline: none;
  border: none;
  color: wheat;
  background-color: #e2e2e2;
}

header .head-r {
  width: 450px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head-r .black-white {
  margin-left: 20px;
  height: 30px;
  width: 52px;
  background: linear-gradient(45deg, #FF7D6B, #FFD64C);
  border-radius: 25px;
  position: relative;
}

header .head-r .black-white .fas {
  color: white;
  font-size: 17px;
  padding-top: 7px;
}

header .head-r .black-white .fa-sun {
  margin-right: 5px;
  float: right;
}

header .head-r .black-white .fa-moon {
  margin-left: 5px;
}

header .head-r .black-white .fa-circle {
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 22px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

header .head-r #header-ul {
  height: 40px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .head-r #header-ul li {
  margin-right: 20px;
  list-style: none;
}

header .head-r #header-ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #4a5568;
}

header .head-r #header-ul li a:hover {
  color: #5a67d8;
}

.iconsMedia {
  display: none;
  position: absolute;
  height: 50px;
  width: 180px;
  right: 10px;
}

.iconsMedia .fas {
  margin-right: 10px;
  font-size: 25px;
  padding: 9px 10px;
  border-radius: 50%;
  color: #7f878f;
  background-color: #c9c9c9;
  -webkit-transition: .3s;
  transition: .3s;
}

.iconsMedia .fas:hover {
  background-color: #5a67d8;
  color: white;
}

.page1 {
  width: 100%;
  height: 420px;
  margin-top: 150px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translate(0px, 500px);
          transform: translate(0px, 500px);
}

.page1 .page1Div {
  width: 100%;
  height: 320px;
}

.page1 .page1Div .imghover {
  position: absolute;
  z-index: 2;
  width: 420px;
  height: 90px;
  top: 70%;
  right: 0%;
  border-radius: 15px;
  background-color: #edf2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.page1 .page1Div .imghover i {
  font-size: 55px;
  margin-left: 30px;
  margin-top: 15px;
  color: #718096;
}

.page1 .page1Div .imghover h5 {
  color: #5a67d8;
  font-size: 27px;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.page1 .page1Div .imghover h6 {
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -30px;
  color: #718096;
}

.page1 .page1Div img {
  float: right;
  margin-top: -150px;
}

.page1 .page1Div h1 {
  color: #2d3748;
  font-size: 45px;
  font-weight: 800;
}

.page1 .page1Div h1 span {
  color: #4a5568;
}

.page1 .page1Div h5 {
  color: #4a5568;
  margin: 40px 0;
}

.page1 .page1Div .btn-1 {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #5a67d8;
  color: white;
  margin-right: 10px;
  -webkit-transition: .7s;
  transition: .7s;
}

.page1 .page1Div .btn-1:hover {
  background-color: #606b7c;
  color: #b7bbc0;
}

.page1 .page1Div .btn-2 {
  width: 150px;
  height: 50px;
  border: 3px solid #afb3b9;
  border-radius: 30px;
  background-color: #dfdfdf;
  color: #606b7c;
  -webkit-transition: .7s;
  transition: .7s;
}

.page1 .page1Div .btn-2:hover {
  border: 3px solid #5a67d8;
}

.page1add {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.page2 {
  margin-top: 100px;
  width: 100%;
  height: 520px;
}

.page2 .basliq2 {
  margin-bottom: 50px;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 4px solid #4a55687c;
  color: #252930;
}

.page2 .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
}

.page2 .active:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.page2 .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 34%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page2 .owl-nav .ovl-prev {
  left: 0;
}

.page2 .owl-nav .ovl-next {
  right: 0;
}

.page2 .owl-nav button {
  background-color: #edf2f7 !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page2 .owl-nav button i {
  font-size: 20px !important;
  color: #b2bbc9 !important;
}

.page2 .owl-nav button:hover {
  background-color: #4299e1 !important;
}

.page2 .owl-nav button:hover i {
  color: white !important;
}

.page2 .item img {
  border-radius: 18px;
  position: relative;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page2 .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(122, 122, 122, 0.5)), to(rgba(154, 152, 152, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(122, 122, 122, 0.5) 50%, rgba(154, 152, 152, 0.5) 100%);
}

.page2 .item .content .row {
  margin-left: 0;
  margin-right: 0;
}

.page2 .item .content .row1 button {
  width: 74px;
  height: 30px;
  border-style: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.page2 .item .content .row2 h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.page2 .item .content .row3 .img {
  border-radius: 50%;
  background-color: #c5dce4;
  width: 60px;
  height: 60px;
}

.page2 .item .content .row3 .img img {
  width: 100%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page2 .item .content .row3 .row3-1 .name p {
  font-weight: bold;
}

.page2 .item .content .row3 .row3-1 .date {
  color: #b2bbc9;
}

.page3 {
  width: 100%;
  height: 320px;
  margin-top: 100px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  -webkit-transform: translate(0px, 500px);
          transform: translate(0px, 500px);
}

.page3 .page3Div {
  width: 93%;
  height: 250px;
}

.page3 .page3Div img {
  float: left;
  margin-right: 80px;
  margin-top: -125px;
}

.page3 .page3Div h1 {
  color: #667eea;
  font-size: 45px;
  font-weight: 800;
}

.page3 .page3Div h1 span {
  color: #4a5568;
}

.page3 .page3Div h5 {
  color: #4a5568;
  margin: 25px 0;
}

.page3add {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.page4 {
  margin-top: 100px;
  width: 100%;
  height: 1150px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  -webkit-transform: translate(0px, 500px);
          transform: translate(0px, 500px);
}

.page4 .basliq {
  margin-bottom: 50px;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 4px solid #4a55685b;
  color: #4a55685b;
}

.page4 .basliq button {
  background-color: #b7c3d1;
  color: #444f63;
  border: none;
  width: 90px;
  height: 25px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page4 .basliq button:hover {
  background-color: #707988;
  color: rgba(255, 255, 255, 0.5);
}

.page4 .card {
  max-width: 550px;
  max-height: 200px;
  padding: 4px 0 4px 20px;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: white;
}

.page4 .card:hover {
  -webkit-box-shadow: 0 0 7px #4a556833;
          box-shadow: 0 0 7px #4a556833;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.page4 .card-ph {
  border-radius: 10px;
  background-color: #2965f1;
  height: 180px;
}

.page4 .card-ph div {
  position: absolute;
  top: 30%;
  left: 35%;
}

.page4 .card-ph div .fab {
  font-size: 50px;
  color: white;
  margin-left: 10px;
}

.page4 .card-ph div p {
  color: white;
  font-weight: 600;
}

.page4 .card-ph img {
  opacity: 0.1;
  height: 100%;
  width: 100%;
}

.page4 .cssButton {
  background-color: #2965f1;
  color: white;
  font-weight: 600;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 7px;
  font-size: 13px;
  -webkit-transition: .5s;
  transition: .5s;
}

.page4 .cssButton:hover {
  background-color: #707988;
  color: rgba(255, 255, 255, 0.5);
}

.page4 .card-title {
  color: #4a5568;
  margin: 20px 0;
}

.page4 .card-text {
  opacity: 0.7;
  display: inline;
}

.page4add {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.page5 {
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  -webkit-transform: translate(0px, 500px);
          transform: translate(0px, 500px);
}

.page5 h3 {
  font-weight: 600;
  color: #262729;
}

.page5 p {
  opacity: 0.6;
  text-align: center;
  margin: 20px 0;
}

.page5 input {
  margin: 20px 0;
  background-color: #e2e8f0;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 7px;
}

.page5 button {
  width: 165px;
  height: 48px;
  border: none;
  border-radius: 22px;
  font-size: 18px;
  background-color: #667eea;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.page5 button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #718096;
}

.page5add {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

footer {
  width: 100%;
  height: 250px;
  background-color: white;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer img {
  height: 45px;
  width: 200px;
  margin-bottom: 10px;
}

footer a {
  font-size: 17px;
  color: #262729;
  -webkit-transition: .5s;
  transition: .5s;
}

footer a:hover {
  text-decoration: none;
  color: #5a67d8;
}

footer .fa-react {
  margin-left: 10px;
  font-size: 24px;
  color: #667eea;
}

footer .fa-react span {
  opacity: 0.5;
}

footer h6 {
  color: #262729;
  padding-left: 30px;
}

footer ul {
  margin-top: 10px;
}

footer ul li {
  list-style: none;
  padding-bottom: 5px;
}

footer ul li a {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

footer ul li a:hover {
  color: #5a67d8;
  text-decoration: none;
}

footer ul li a .fa-github {
  color: darkslategrey;
}

footer ul li a .fa-twitter {
  color: #1da1f2;
}

footer ul li a .fa-instagram {
  color: #c13584;
}

footer ul li a .fab {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .menutel {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    position: absolute;
    z-index: 5;
  }
  .menutel i {
    font-size: 50px;
    float: left;
    color: #beb8b8;
  }
  .menutel i:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #667eea;
  }
  .menutel .menu1 {
    float: right;
    width: 300px;
    height: 100%;
    background-color: white;
    padding: 50px 40px;
  }
  .menutel .menu1 h5 {
    margin-bottom: 30px;
  }
  .menutel .menu1 ul {
    margin-left: -40px;
  }
  .menutel .menu1 ul li {
    list-style: none;
    margin-top: 10px;
  }
  .menutel .menu1 ul li a {
    text-decoration: none;
    color: #888686;
  }
  .menutel .menu1 ul li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #667eea;
  }
  .search1 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.699);
    position: absolute;
    z-index: 5;
  }
  .search1 .fa-times-circle {
    font-size: 50px;
    float: left;
    color: rgba(0, 0, 0, 0.692);
  }
  .search1 .fa-times-circle:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #667eea;
  }
  .search1 .inputsearch {
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 40px;
    width: 90%;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #d2dae2;
    color: #e6e3e3;
  }
  .search1 .inputsearch input {
    width: 92%;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
  }
  .search1 .inputsearch i {
    color: rgba(153, 153, 153, 0.918);
  }
  .telmod1 {
    display: block;
  }
  .telmod1 .telmod {
    position: relative;
    float: right;
    margin-top: -40px;
  }
  .telmod1 .telmod i {
    font-size: 30px;
    margin-left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: #b1afaf;
  }
  .telmod1 .telmod i:hover {
    border: 1px solid #667eea;
    background-color: #667eea;
  }
  .telmod1 .telmod .fa-sun {
    position: absolute;
    margin-left: -60px;
    display: none;
  }
  .telmod1 .telmod .fa-moon {
    position: absolute;
    margin-left: -60px;
  }
  .dis1 {
    display: none;
  }
  .page1 {
    height: 250px;
    margin-top: 20px;
    padding: 10px;
  }
  .page1 .page1Div h1 {
    font-size: 30px;
  }
  .page1 .page1Div h5 {
    margin: 20px 0;
  }
  .page1 .page1Div img {
    display: none;
  }
  .page1 .page1Div .imghover {
    display: none;
  }
  .page2 {
    height: 470px;
  }
  .page3 {
    margin-top: 10px;
  }
  .page3 .page3Div {
    padding: 0px;
  }
  .page3 .page3Div img {
    display: none;
  }
  .page3 .page3Div h1 {
    font-size: 30px;
  }
  .page3 .page3Div h5 {
    margin: 20px 0;
  }
  .page4 {
    margin-top: 10px;
    margin-left: 0;
    height: 2100px;
  }
  .page4 .card {
    margin: 0;
    padding: 0;
  }
  .page5 {
    height: 400px;
  }
  footer {
    height: 600px;
    margin-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footbasliq {
    padding-left: 170px;
    height: 150px;
  }
}

@media screen and (min-width: 600px) {
  .telmod1 {
    display: none;
  }
  .menutel {
    display: none;
  }
  .search1 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */