.page2
{
    height: 730px;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;

    .page2-txt
    {
        width: 100%;
        height: 220px;
        padding: 40px 0 0 0;

        span
        {
            color: #E71B37;
        }
        .hr1
        {
            width: 170px;
            background-color: #e9eaeb;
        }
        .hr2
        {
            width: 130px;
            background-color: #e9eaeb;
            margin-top: -9px;
        }
        .hr3
        {
            width: 100px;
            background-color: #e9eaeb;
            margin-top: -9px;
        }
        p
        {
            padding: 0 180px;
            color: #4d4d4d;
        }
    }

    .page2-ph
    {
        margin-top: 20px;
        width: 100%;
        height: 420px;

        h4
        {
            font-family: cursive;
            font-weight: 600;
            color: #777777;
        }

        p
        {
            font-size: 14px;
        }

        .page2-ph-all
        {
            width: 100%;
            height: 350px;
            color: #4d4d4d;
            background-size: cover;
            border-bottom: 3px solid #E71B37;
            margin-bottom: 20px;
        }

        .page2-ph-cover
            {
                // position: absolute;
                // top: 350px;
                display: none;
                height: 350px;
                width: 100%;
                background-color:rgba(0, 0, 0, 0.6);
                

                .cover-icons
                {
                    padding: 50px 0 30px 0;
                    border-top: 3px solid #E71B37;
                    .fab
                    {
                        border-radius: 50%;
                        padding: 8px;
                        background-color: transparent;
                        border: 1px solid #E71B37;
                        color: #E71B37;
                        margin-right: 3px;
                        font-size: 20px;
                        transition: .4s;
                    
                        &:hover
                        {
                            box-shadow: 0 0 10px white;
                            background-color: #E71B37;
                            color: white;
                        }
                    }
                
                    .fa-facebook-f
                    {
                        font-size: 20px;
                        padding: 8px 12px;
                    }
                }

                p
                {
                    color: #d8d8d8;
                    padding: 10px 30px;
                }

                a
                {
                    color: #f1f1f1;
                    font-weight: 600;
                    text-decoration: none;
                    transition: .4s;
                    &:hover
                    {
                        color: #E71B37;
                    }
                }
            }

        .page2-ph-1
        {
            background-image: url(https://images-ext-2.discordapp.net/external/ZvWPWIznkTj4ho6JGsnMzA_vzwqrv4AvAWr0WYC6n6U/https/preview.templatehouse.net/eventick/demo/images/team-01.jpg);
        }

        .page2-ph-2
        {
            background-image: url(https://images-ext-2.discordapp.net/external/MjM2ywZKS0n0YBHWfnEyARPxovRh5wvzF9qtnLRqlvY/https/preview.templatehouse.net/eventick/demo/images/team-02.jpg);
        }

        .page2-ph-3
        {
            background-image: url(https://images-ext-1.discordapp.net/external/-FHrOHWRQ3_km1e7TRbHBDgNHtbZHltYjmLVd0gRvqg/https/preview.templatehouse.net/eventick/demo/images/team-03.jpg);
        }

        .page2-ph-4
        {
            background-image: url(https://images-ext-1.discordapp.net/external/cELaGdm_ixodDuHn3yJ6ZwAFScArRIIE-Vc93xvdvn8/https/preview.templatehouse.net/eventick/demo/images/team-04.jpg);
        }

    }
    
}