.five
{
   
    height: 750px;
    width: 100%;
    padding: 0 24px;
    font-family: sans-serif;

    .bars
    {   
        
        width: 700px;
        height: 40px;
        margin-bottom: 50px;
        ul
        {
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            justify-content: space-between;
            list-style: none;
            li a
            {
                font-size: 12px;
                color: rgb(90, 86, 86);
                transition: all 1s;
            }
            li a:hover
            {
                color: black;
                text-decoration: underline;
            }
            
        }
    }

    .five-1
    {
        height: 280px;
        width: 340px;
        position: relative;
        margin-bottom: 15px;
        .five-2
        {
            text-align: center;
            position: absolute;
            top: 74%;
            left: 27%;
            z-index: -1;
            text-transform: uppercase;
            h5
            {
                font-size: 16px;
                color: black;
            }
            p
            {
                font-size: 12px;
                color: rgba(92, 91, 91, 0.9);
            }
        }

        img
        {
            height: 280px;
            width: 340px;
            transition: height 0.5s;
        }
        img:hover
        {
            height: 200px;
        }
    }
}