.four
{
    height: 420px;
    width: 100%;
    font-family: sans-serif;
    
    .four-1
    {
        height: 420px;
        width: 100%;
        background-image: url(https://images-ext-1.discordapp.net/external/8SFspZJ5Y2Wsw_cMZt-u8U1yWJXQBhK7vR27KLNxN1Y/http/www.themezaa.com/html/pofo/images/homepage-option17-image-01.jpg?width=700&height=670);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .four-2
    {
        height: 420px;
        width: 100%;
        background-color: #16191d;

        .four-21
        {
            margin: 40px 20px;
            height: 350px;
            width: 90%;
           

            h6
            {
                color: rgba(219, 219, 219, 0.767);
            }
            h4
            {
                color: white;
                padding: 12px 0;
            }
            p
            {
                color: rgba(219, 219, 219, 0.767);
                font-size: 14px;
                padding: 12px 0;
            }

            button
            {
                width: 135px;
                height: 35px;
                border-radius: 4px;
                background: transparent;
                border: 2px solid white;
                color: white;
                transition: all 0.3s;

            }
            button:hover
            {
                color: #11161b;
                background-color: white;
            }
        }
    }

    .four-3
    {
        height: 420px;
        width: 100%;
        background-image: url(https://images-ext-1.discordapp.net/external/6p4nLSbr-jGHqmkisNIzwm8uvoz64oFMGNZIskKEzQY/http/www.themezaa.com/html/pofo/images/homepage-option17-image-02.jpg?width=700&height=670);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}